.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-2{
    display: flex;
    gap:20px;
    justify-content: space-between;
}

.mood-line-chart{

}

.mood-doughnut-chart{

}