@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(152, 70, 207);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  
  .header-search {
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-size: 1.05rem;
    margin-right: 600px;
    color: rgb(176, 98, 228);
    margin-left: 250px;
  }

  .header-search:focus {
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(176, 98, 228);
  }

  .header-search:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .header-setting-button,
  .header-dark-theme-button,
  .header-bell-button {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    height: 50px;
    width: 50px;
    margin-right: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .header-setting-button svg,
  .header-dark-theme-button svg,
  .header-bell-button svg {
    width: 20px;
    height: 20px;
  }
  
  .header-setting-button:hover,
  .header-dark-theme-button:hover,
  .header-bell-button:hover {
    background-color: #ddd;
  }
  
  .header-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }