.chart-container {
  
    width: 600px;
    height: 200px;
    padding: 10px; 
    background-color: white;
    border-radius: 25px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

canvas {
    background-color: white;

}